* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 175%;
}

div {
    position: relative;
}

summary {
    position: absolute;
    top: 0px;
    right: 0px;
    border: black solid 1px;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
}

section {
    position: relative;
    border: black solid 1px;
    background: #DCDCDC;
    padding: 2em 0.5em 0.5em 0.5em;
}

#chicken > summary {
    background: #FFE4E1;
}

#beef > summary {
    background: #CD5C5C;
    color: white;
}

#salmon > summary {
    background: #F0E68C;
}

@media (min-width: 992px) {
    section {
        width: 31.3%;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        height: 30%;
    }

    summary {
        width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        float: left;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    #chicken, #beef {
        width: 47%;
    }

    #chicken > summary, #beef > summary {
        width: 40%;
    }

    #salmon {
        margin-top: 3%;
    }

    #salmon > summary {
        width: 20%;
    }
}

@media (max-width: 767px) {
    section {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3%;        
    }

    summary {
        width: 20%;
    }
}