* {
    font-family:'Courier New', Courier, monospace;
}

/* HEADER */
#header-nav {
    padding: 0;
    background-color: gainsboro;
    border: solid black;
}

#header-nav > .container-fluid {
    padding: 0;
}

.navbar-brand {
    padding: 15px 0 5px 15px;
}

.navbar-brand a:link, .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand h1 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

#header-nav button {
    margin-right: 10px;
}

#collapsibleMenu li {
    padding: 0;
    border-top: solid;
    background-color: #ebe78e;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
/* END HEADER */

/* MAIN PAGE*/
h2 {
    margin-top: 40px;
    font-weight: bold;
}

#main-content {
    margin-top: 40px;
}

#menu div {
    background-color: gainsboro;
    margin-bottom: 30px;
}
/* END MAIN PAGE */

/******* EXTRA SMALL DEVICES ONLY *******/
@media (max-width: 575px) {
    #main-content {
        width: 90%;
    }
}